body {
    text-align: center;
    background: linear-gradient(#34ebc9 0%, #275f8a 100%);
}

img {
    width: 300;
    height: 300;
    border-radius: 50%;
    transition: transform .2s;

}
#bio{
    padding:20px;
    font-size:42;
    background:pink;
}
.menu{
   list-style: none;
    font-family:cursive;
   float:right;
    top:10px;
    right:30px;
    cursor: pointer;
    color:black;
}
.menu a{
    color:black !important;
}
img:hover{
    transform: scale(0.9);
}